<section class="page-404">
	<div class="container">
		<div class="page-404__wrapper">
			<div class="page-404__content">
				<h2 class="page-404__title">OPPS! Page Not Found!!</h2>
				<div class="page-404__text">
					<p>We,re sorry but we can’t seem to find the pages you request. This might be because you have typed the web
						address not find incorrectly.</p>
				</div>
				<a class="page-404__btn btn" href="#">BACK TO HOME</a>
			</div>

			<img class="page-404__img" src="images/backgrounds/404-bg.png" alt="404 image">
		</div>
	</div>
</section>