<section class="blog-list">
	<div class="container">
		<div class="blog-list__wrapper">
			<ul class="blog-list__content">

				<li class="blog-list__item">
					<article class="blog-publication">
						<a class="blog-publication__link" href="#">
							<img class="blog-publication__img" src="images/blog/page-1.jpg" alt="blog image" width="770" height="450">
						</a>
						<div class="blog-publication__box">

							<h3 class="blog-publication__title">
								<a class="blog-publication__link" href="#"> Be prepared to sweat a lot, but at least in the Southern
									regions there’s a good chance you’ll get to
									enjoy!
								</a>
							</h3>

							<div class="blog-box">
								<a class="blog-box__author" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-user"></use>
									</svg>
									By Admin
								</a>

								<time class="blog-box__date">
									<svg>
										<use xlink:href="images/sprite.svg#icon-clock"></use>
									</svg>
									10 January, 2020</time>
							</div>
							<div class="blog-publication__descr">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodoami viverra maycenas
									acchmsan lacus vel facilis</p>
							</div>
						</div>
					</article>
				</li>

				<li class="blog-list__item">
					<article class="blog-publication blog-publication--play-video">
						<a class="blog-publication__link" data-fancybox data-width="2048" data-height="1365"
							href="https://www.youtube.com/watch?v=T7VqJoea0W8">
							<img class="blog-publication__img" src="images/blog/page-2.jpg" alt="blog image" width="770" height="450">

							<span class="blog-publication__play-btn">
								<svg>
									<use xlink:href="images/sprite.svg#icon-play"></use>
								</svg>
							</span>
						</a>
						<div class="blog-publication__box">

							<h3 class="blog-publication__title">
								<a class="blog-publication__link" href="#"> Be prepared to sweat a lot, but at least in the Southern
									regions there’s a good chance you’ll get to
									enjoy!
								</a>
							</h3>

							<div class="blog-box">
								<a class="blog-box__author" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-user"></use>
									</svg>
									By Admin
								</a>

								<time class="blog-box__date">
									<svg>
										<use xlink:href="images/sprite.svg#icon-clock"></use>
									</svg>
									10 January, 2020</time>
							</div>
							<div class="blog-publication__descr">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodoami viverra maycenas
									acchmsan lacus vel facilis</p>
							</div>
						</div>
					</article>
				</li>

				<li class="blog-list__item">
					<article class="blog-publication blog-publication--slider">
						<div class="blog-publication__slider">
							<img class="blog-publication__img" src="images/blog/page-3.jpg" alt="blog image" width="770" height="450">
							<img class="blog-publication__img" src="images/blog/page-2.jpg" alt="blog image" width="770" height="450">
							<img class="blog-publication__img" src="images/blog/page-1.jpg" alt="blog image" width="770" height="450">
						</div>
						<div class="blog-publication__box">

							<h3 class="blog-publication__title">
								<a class="blog-publication__link" href="#"> Be prepared to sweat a lot, but at least in the Southern
									regions there’s a good chance you’ll get to
									enjoy!
								</a>
							</h3>

							<div class="blog-box">
								<a class="blog-box__author" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-user"></use>
									</svg>
									By Admin
								</a>

								<time class="blog-box__date">
									<svg>
										<use xlink:href="images/sprite.svg#icon-clock"></use>
									</svg>
									10 January, 2020</time>
							</div>
							<div class="blog-publication__descr">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodoami viverra maycenas
									acchmsan lacus vel facilis</p>
							</div>
						</div>
					</article>
				</li>

				<li class="blog-list__item">
					<article class="blog-publication blog-publication--no-image">
						<div class="blog-publication__box">

							<h3 class="blog-publication__title">
								<a class="blog-publication__link" href="#"> Be prepared to sweat a lot, but at least in the Southern
									regions there’s a good chance you’ll get to
									enjoy!
								</a>
							</h3>

							<div class="blog-box">
								<a class="blog-box__author" href="#">
									<svg>
										<use xlink:href="images/sprite.svg#icon-user"></use>
									</svg>
									By Admin
								</a>

								<time class="blog-box__date">
									<svg>
										<use xlink:href="images/sprite.svg#icon-clock"></use>
									</svg>
									10 January, 2020</time>
							</div>
							<div class="blog-publication__descr">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodoami viverra maycenas
									acchmsan lacus vel facilis</p>
							</div>
						</div>
					</article>
				</li>
			</ul>

			<aside class="blog-list__aside filter">
				<div class="filter-search filter__item">
					<h3 class="filter__title">Search</h3>
					<form class="filter-search__form" action="#">
						<input class="filter-search__input" type="text" placeholder="Search your keyword...." required>
						<button class="btn btn--search" type="submit">
							<span class="sr-only">Search product</span>
							<svg>
								<use xlink:href="images/sprite.svg#icon-search"></use>
							</svg>
						</button>
					</form>
				</div>

				<div class="person blog-list__person">
					<img class="person__img" src="images/avatars/ceo.jpg" alt="avatar">
					<div class="person__name">Tom D. Maianay</div>
					<div class="person__position">CEO & Founder</div>
					<div class="person__descr">
						<p>Lorem ipsum dolor sit amet, consectetum adipiscing eit, sed do eiusmod temporary incididunt ut labore et
							dolore magnaamo aliqua. Qus ipsum suspendisse ultrices an gravida. Risus commodo</p>
					</div>

					<ul class="social-list person__social-list">
						<li class="social-list__item">
							<a class="social-list__link" href="https://facebook.com/" target="_blank">
								<svg>
									<use xlink:href="images/sprite.svg#icon-facebook"></use>
								</svg>
							</a>
						</li>

						<li class="social-list__item">
							<a class="social-list__link" href="https://twitter.com/" target="_blank">
								<svg>
									<use xlink:href="images/sprite.svg#icon-twitter"></use>
								</svg>
							</a>
						</li>

						<li class="social-list__item">
							<a class="social-list__link" href="https://instagram.com/" target="_blank">
								<svg>
									<use xlink:href="images/sprite.svg#icon-instagram"></use>
								</svg>
							</a>
						</li>

						<li class="social-list__item">
							<a class="social-list__link" href="https://pinterest.com/" target="_blank">
								<svg>
									<use xlink:href="images/sprite.svg#icon-pinterest"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>

				<ul class="latest-post blog-list__latest-post">
					<h3 class="latest-post__title">Latest Post</h3>

					<li class="latest-post__item">
						<article class="latest-post__card">
							<a class="latest-post__link-img" href="#">
								<img class="latest-post__img" src="images/blog/last-post/1.jpg" alt="Last post image" width="80"
									height="80">
							</a>

							<div class="latest-post__box">
								<a class="latest-post__title-link" href="#">
									<h4 class="latest-post__box-title">Lorem ipsum dolor suitabl amet, adiping elit.</h4>
								</a>
								<time class="latest-post__time">16 Feb, 2019</time>
							</div>
						</article>
					</li>

					<li class="latest-post__item">
						<article class="latest-post__card">
							<a class="latest-post__link-img" href="#">
								<img class="latest-post__img" src="images/blog/last-post/2.jpg" alt="Last post image" width="80"
									height="80">
							</a>

							<div class="latest-post__box">
								<a class="latest-post__title-link" href="#">
									<h4 class="latest-post__box-title">Lorem ipsum dolor suitabl amet, adiping elit.</h4>
								</a>
								<time class="latest-post__time">16 Feb, 2019</time>
							</div>
						</article>
					</li>

					<li class="latest-post__item">
						<article class="latest-post__card">
							<a class="latest-post__link-img" href="#">
								<img class="latest-post__img" src="images/blog/last-post/3.jpg" alt="Last post image" width="80"
									height="80">
							</a>

							<div class="latest-post__box">
								<a class="latest-post__title-link" href="#">
									<h4 class="latest-post__box-title">Lorem ipsum dolor suitabl amet, adiping elit.</h4>
								</a>
								<time class="latest-post__time">16 Feb, 2019</time>
							</div>
						</article>
					</li>

					<li class="latest-post__item">
						<article class="latest-post__card">
							<a class="latest-post__link-img" href="#">
								<img class="latest-post__img" src="images/blog/last-post/4.jpg" alt="Last post image" width="80"
									height="80">
							</a>

							<div class="latest-post__box">
								<a class="latest-post__title-link" href="#">
									<h4 class="latest-post__box-title">Lorem ipsum dolor suitabl amet, adiping elit.</h4>
								</a>
								<time class="latest-post__time">16 Feb, 2019</time>
							</div>
						</article>
					</li>

				</ul>

				<div class="filter-category filter__item">
					<h3 class="filter__title">Category</h3>
					<form class="filter-category__form" action="#">
						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Woman</span>
								<span>48</span>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Man</span>
								<span>30</span>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox" checked>
							<div class="filter-category__checkbox">
								<span>Sale Products</span>
								<span>92</span>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Fashion</span>
								<span>121</span>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Hot Dresses</span>
								<span>52</span>
							</div>
						</label>

						<label class="filter-category__label">
							<input class="filter-category__input checkbox-hidden" type="checkbox">
							<div class="filter-category__checkbox">
								<span>Accessories</span>
								<span>88</span>
							</div>
						</label>
				</div>

				<div class="filter-tags filter__item">
					<h3 class="filter__title">Popular Tags</h3>
					<form class="filter-tags__form" action="#">
						<label class="filter-tags__label">
							<input class="filter-tags__input checkbox-hidden" type="checkbox">
							<span class="filter-tags__checkbox">Sweetshirt</span>
						</label>

						<label class="filter-tags__label">
							<input class="filter-tags__input checkbox-hidden" type="checkbox" checked>
							<span class="filter-tags__checkbox">Man Accessories</span>
						</label>

						<label class="filter-tags__label">
							<input class="filter-tags__input checkbox-hidden" type="checkbox">
							<span class="filter-tags__checkbox">Fashion</span>
						</label>

						<label class="filter-tags__label">
							<input class="filter-tags__input checkbox-hidden" type="checkbox">
							<span class="filter-tags__checkbox">Polo</span>
						</label>

						<label class="filter-tags__label">
							<input class="filter-tags__input checkbox-hidden" type="checkbox">
							<span class="filter-tags__checkbox">T-Shirt</span>
						</label>

						<label class="filter-tags__label">
							<input class="filter-tags__input checkbox-hidden" type="checkbox">
							<span class="filter-tags__checkbox">Jewellery</span>
						</label>
					</form>

				</div>
			</aside>
		</div>
	</div>
</section>