<section class="blog">
	<div class="container">
		<h2 class="title">From Our Blog</h2>
		<div class="text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodmoe tempor incididunt ut labore et
				dolore aliqua.</p>
		</div>

		<ul class="blog__list">
			<li class="blog__item">
				<article class="blog-card">
					<a class="blog-card__link-img" href="#">
						<img class="blog-card__img" src="images/blog/1.jpg" alt="blog image" width="370" height="288">
					</a>

					<div class="blog-card__box">
						<div class="blog-box">
							<a class="blog-box__author" href="#">
								<svg>
									<use xlink:href="images/sprite.svg#icon-user"></use>
								</svg>
								By Admin
							</a>

							<time class="blog-box__date">
								<svg>
									<use xlink:href="images/sprite.svg#icon-clock"></use>
								</svg>
								10 January, 2020</time>
						</div>

						<a class="blog-card__title-link" href="#">
							<h4 class="blog-card__title">Our Apps User Use Mobile On His Mobile</h4>
						</a>

						<a class="blog-card__link" href="#">Read More
							<svg>
								<use xlink:href="images/sprite.svg#icon-arrow"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="blog__item">
				<article class="blog-card">
					<a class="blog-card__link-img" href="#">
						<img class="blog-card__img" src="images/blog/2.jpg" alt="blog image" width="370" height="288">
					</a>

					<div class="blog-card__box">
						<div class="blog-box">
							<a class="blog-box__author" href="#">
								<svg>
									<use xlink:href="images/sprite.svg#icon-user"></use>
								</svg>
								By Admin
							</a>

							<time class="blog-box__date">
								<svg>
									<use xlink:href="images/sprite.svg#icon-clock"></use>
								</svg>
								10 January, 2020</time>
						</div>

						<a class="blog-card__title-link" href="#">
							<h4 class="blog-card__title">Our Apps User Use Mobile On His Mobile</h4>
						</a>

						<a class="blog-card__link" href="#">Read More
							<svg>
								<use xlink:href="images/sprite.svg#icon-arrow"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>

			<li class="blog__item">
				<article class="blog-card">
					<a class="blog-card__link-img" href="#">
						<img class="blog-card__img" src="images/blog/3.jpg" alt="blog image" width="370" height="288">
					</a>

					<div class="blog-card__box">
						<div class="blog-box">
							<a class="blog-box__author" href="#">
								<svg>
									<use xlink:href="images/sprite.svg#icon-user"></use>
								</svg>
								By Admin
							</a>

							<time class="blog-box__date">
								<svg>
									<use xlink:href="images/sprite.svg#icon-clock"></use>
								</svg>
								10 January, 2020</time>
						</div>

						<a class="blog-card__title-link" href="#">
							<h4 class="blog-card__title">Our Apps User Use Mobile On His Mobile</h4>
						</a>

						<a class="blog-card__link" href="#">Read More
							<svg>
								<use xlink:href="images/sprite.svg#icon-arrow"></use>
							</svg>
						</a>
					</div>
				</article>
			</li>
		</ul>
	</div>
</section>