<section class="categories-info">
  <div class="categories-info__inner">
    <div class="container">
      <ul class="support">
        <li class="support__item support__item--icon-car">
          <h4 class="support__title">Free Shipping Order $100</h4>
          <div class="support__text">
            <p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do </p>
          </div>
        </li>

        <li class="support__item support__item--icon-time">
          <h4 class="support__title">30 Days Easy Return</h4>
          <div class="support__text">
            <p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do </p>
          </div>
        </li>

        <li class="support__item support__item--icon-support">
          <h4 class="support__title">24/7 Customer Support</h4>
          <div class="support__text">
            <p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do </p>
          </div>
        </li>
      </ul>
      <div class="categories"></div>

      <h2 class="title">Top categories</h2>
      <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo tempor ut labore et
        dolore
        aliqua.</div>

      <ul class="categories__items">
        <li class="categories__item" style="background-image: url('images/content/categories/jewellery.jpg')">
          <article class="category-product">
            <div class="category-product__subtitle">Up To 40% Off</div>
            <h4 class="category-product__title">Shoes & Jewellry</h4>
            <a class="category-product__link" href="#">Explore more</a>
          </article>
        </li>

        <li class="categories__item" style="background-image: url('images/content/categories/acces.jpg')">
          <article class="category-product">
            <div class="category-product__subtitle">New Arrival</div>
            <h4 class="category-product__title">Clothes & Accessories</h4>
            <a class="category-product__link" href="#">Explore more</a>
          </article>
        </li>

        <li class="categories__item" style="background-image: url('images/content/categories/mens.jpg')">
          <article class="category-product">
            <div class="category-product__subtitle">Trending Now</div>
            <h4 class="category-product__title">Men’s Fashion</h4>
            <a class="category-product__link" href="#">Explore more</a>
          </article>
        </li>

        <li class="categories__item" style="background-image: url('images/content/categories/girls.jpg')">
          <article class="category-product">
            <div class="category-product__subtitle">Hot Collection</div>
            <h4 class="category-product__title">Girl’s Fashion</h4>
            <a class="category-product__link" href="#">Explore more</a>
          </article>
        </li>

      </ul>
    </div>
  </div>
</section>