<section class="catigories-info">
  <div class="catigories-info__inner">
    <div class="container">
      <div class="support">
        <div class="support__item support__item--icon-car">
          <h4 class="support__title">Free Shipping Order $100</h4>
          <div class="support__text">
            <p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do </p>
          </div>
        </div>

        <div class="support__item support__item--icon-time">
          <h4 class="support__title">30 Days Easy Return</h4>
          <div class="support__text">
            <p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do </p>
          </div>
        </div>

        <div class="support__item support__item--icon-support">
          <h4 class="support__title">24/7 Customer Support</h4>
          <div class="support__text">
            <p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do </p>
          </div>
        </div>
      </div>
      <div class="catigories"></div>

      <h2 class="title">Top categories</h2>
      <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo tempor ut labore et
        dolore
        aliqua.</div>

      <ul class="catigories__items">
        <li class="catigories__item" style="background-image: url('images/content/categories/jewellery.jpg')">
          <div class="catigories__subtitle">Up To 40% Off</div>
          <h4 class="catigories__title">Shoes & Jewellry</h4>
          <a class="catigories__link" href="#">Explore more</a>
        </li>

        <li class="catigories__item" style="background-image: url('images/content/categories/acces.jpg')">
          <div class="catigories__subtitle">New Arrival</div>
          <h4 class="catigories__title">Clothes & Accessories</h4>
          <a class="catigories__link" href="#">Explore more</a>
        </li>

        <li class="catigories__item" style="background-image: url('images/content/categories/mens.jpg')">
          <div class="catigories__subtitle">Trending Now</div>
          <h4 class="catigories__title">Men’s Fashion</h4>
          <a class="catigories__link" href="#">Explore more</a>
        </li>

        <li class="catigories__item" style="background-image: url('images/content/categories/girls.jpg')">
          <div class="catigories__subtitle">Hot Collection</div>
          <h4 class="catigories__title">Girl’s Fashion</h4>
          <a class="catigories__link" href="#">Explore more</a>
        </li>

      </ul>
    </div>
  </div>
</section>