<footer class="footer">
  <div class="container">
    <div class="footer-top">

      <div class="footer-top__item">
        <a class="logo footer-top__logo" href="">
          <img class="logo__img" src="images/logo.png" alt="logo" width="183" height="30">
        </a>

        <address class="footer-top__box footer-top__contact">

          <ul class="adress-links footer-top__adress-links">
            <li class="adress-links__items">
              <a class="adress-links__link" href="#">
                No. 342 - London Oxford Street,
                012 United States
              </a>
            </li>

            <li class="adress-links__items">
              <a class="adress-links__link" href="mailto:Youremail@gmail.com">Youremail@gmail.com</a>
            </li>

            <li class="adress-links__items">
              <a class="adress-links__link" href="tel:+02838388393">+0283 838 8393</a>
            </li>
          </ul>

          <ul class="social-list footer-top__social">
            <li class="social-list__item">
              <a class="social-list__link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>

            <li class="social-list__item">
              <a class="social-list__link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>

            <li class="social-list__item">
              <a class="social-list__link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>

            <li class="social-list__item">
              <a class="social-list__link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-google"></use>
                </svg>
              </a>
            </li>

            <li class="social-list__item">
              <a class="social-list__link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-pinterest"></use>
                </svg>
              </a>
            </li>
          </ul>
        </address>

      </div>

      <div class="footer-top__item footer-top__nav">
        <h5 class="footer-top__title footer-top__title">Useful Links</h5>

        <ul class="footer-top__list">
          <li class="footer-top__list-item">
            <a class="footer-top__link" href="#">About Us</a>
          </li>

          <li class="footer-top__list-item">
            <a class="footer-top__link" href="#">Privacy Policy</a>
          </li>

          <li class="footer-top__list-item">
            <a class="footer-top__link" href="#">Terms & Conditions</a>
          </li>

          <li class="footer-top__list-item">
            <a class="footer-top__link" href="#">Contact Us</a>
          </li>

          <li class="footer-top__list-item">
            <a class="footer-top__link" href="#">Help & Support</a>
          </li>
        </ul>
      </div>

      <div class="footer-top__item footer-top__nav">
        <h5 class="footer-top__title footer-top__title">My Account</h5>

        <ul class="footer-top__list">
          <li class="footer-top__list-item">
            <a class="footer-top__link" href="#">My Account</a>
          </li>

          <li class="footer-top__list-item">
            <a class="footer-top__link" href="#">My Cart</a>
          </li>

          <li class="footer-top__list-item">
            <a class="footer-top__link" href="#">My WIshlist</a>
          </li>

          <li class="footer-top__list-item">
            <a class="footer-top__link" href="#">Registration</a>
          </li>

          <li class="footer-top__list-item">
            <a class="footer-top__link" href="#">Check Out</a>
          </li>
        </ul>
      </div>

      <div class="footer-top__item footer-top__form">
        <h5 class="footer-top__title">Subscribe Our Newsletter</h5>

        <div class="footer-top__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
        </div>

        <form class="subscribe-form" action="#">
          <label class="sr-only" for="form-subscribe">Форма подписки клиентов</label>
          <input class="subscribe-form__input" type="email" name="form-subscribe" id="form-subscribe"
            placeholder="Your email address" required>
          <button class="btn" type="submit">Subscribe</button>
        </form>
      </div>
    </div>

    <div class="footer-bottom">
      <span class="copy">© 2019 CodeAstrology. All Rights Reserved.</span>

      <div class="accept">
        We Accept
        <img class="accept__img" src="images/pay/mastercard.png" alt="We accept MasterCard">
        <img class="accept__img" src="images/pay/visa.png" alt="We accept Visa">
        <img class="accept__img" src="images/pay/paypal.png" alt="We accept PayPal">
      </div>
    </div>

  </div>
</footer>