<header class="header">
  <div class="container">
    <nav class="header__nav">

      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.png" alt="Логотип Марчо" width="183" height="30">
      </a>

      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link menu__link--active" href="#">
            Home
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            Shop
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            Page
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            Blog
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">
            Contact
          </a>
        </li>
      </ul>

      <ul class="user-nav">
        <li class="user-nav__item">
          <a class="user-nav__link user-nav__link--icon-user" href="#"></a>
          <span class="sr-only">Перейти в личный кабинет</span>
        </li>

        <li class="user-nav__item">
          <a class="user-nav__link user-nav__link--icon-search" href="#"></a>
          <span class="sr-only">Поиск на сайте</span>
        </li>

        <li class="user-nav__item">
          <a class="user-nav__link user-nav__link--icon-heart" href="#">
            <span class="user-nav__num">3</span>
            <span class="sr-only">Избранные товары</span>
          </a>
        </li>

        <li class="user-nav__item">
          <a class="user-nav__link user-nav__link--icon-cart" href="#">
            <span class="user-nav__num">7</span>
            <span class="sr-only">Корзина товаров</span>
          </a>
        </li>
      </ul>

    </nav>
  </div>
</header>