<section class="main-slider">
  <div class="container main-slider__container">
    <h1 class="sr-only">Marcho - internet shop</h1>

    <ul class="main-slider__wrapper">

      <li class="main-slider__item">
        <div class="main-slider__content">

          <h2 class="main-slider__title">New Season <br>
            New Brand Collection</h2>
          <div class="main-slider__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              et dolore magna aliqua. Ipsum.</p>
          </div>
          <a class="btn btn--slider" href="#">Buy now</a>
        </div>
        <img class="main-slider__img" src="images/main-slider/1.png" alt="slide image">
      </li>

      <li class="main-slider__item">
        <div class="main-slider__content">
          <h2 class="main-slider__title">New Season <br>
            New Brand Collection</h2>
          <div class="main-slider__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              et dolore magna aliqua. Ipsum.</p>
          </div>
          <a class="btn btn--slider" href="#">Buy now</a>
        </div>
        <img class="main-slider__img" src="images/main-slider/1.png" alt="slide image">
      </li>

      <li class="main-slider__item">
        <div class="main-slider__content">
          <h2 class="main-slider__title">New Season <br>
            New Brand Collection</h2>
          <div class="main-slider__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              et dolore magna aliqua. Ipsum.</p>
          </div>
          <a class="btn btn--slider" href="#">Buy now</a>
        </div>
        <img class="main-slider__img" src="images/main-slider/1.png" alt="slide image">
      </li>

      <li class="main-slider__item">
        <div class="main-slider__content">
          <h2 class="main-slider__title">New Season <br>
            New Brand Collection</h2>
          <div class="main-slider__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              et dolore magna aliqua. Ipsum.</p>
          </div>
          <a class="btn btn--slider" href="#">Buy now</a>
        </div>
        <img class="main-slider__img" src="images/main-slider/1.png" alt="slide image">
      </li>
    </ul>
  </div>
</section>