<div class="promo" style="background-image: url('images/backgrounds/promo-bg.jpg')">
	<div class="container">
		<div class="promo__inner">
			<span class="promo__subtitle">Style Fashion</span>
			<h2 class="title">Deal of the day</h2>

			<ul class="promo-clock promo__clock" data-time="'2022-04-05'">
				<li class="promo-clock__item">
					<span class="promo__days"></span>
					<div class="promo__text">Days</div>
				</li>

				<li class="promo-clock__item">
					<span class="promo__hours"></span>
					<div class="promo__text">Hours</div>
				</li>

				<li class="promo-clock__item">
					<span class="promo__minutes"></span>
					<div class="promo__text">Minutes</div>
				</li>

				<li class="promo-clock__item">
					<span class="promo__seconds"></span>
					<div class="promo__text">Seconds</div>
				</li>
			</ul>

			<a class="btn btn--transparent" href="#">Shop Now</a>
		</div>
	</div>
</div>