<section class="product-page">
	<div class="container">
		<div class="product-one">
			<div class="product-one__wrapper">
				<div class="product-one__slide product-slide">
					<ul class="product-slide__thumb">
						<li class="product-slide__thumb-item">
							<img src="images/content/products/7.jpg" alt="Product">
						</li>

						<li class="product-slide__thumb-item">
							<img src="images/content/products/7.jpg" alt="Product">
						</li>

						<li class="product-slide__thumb-item">
							<img src="images/content/products/7.jpg" alt="Product">
						</li>

						<li class="product-slide__thumb-item">
							<img src="images/content/products/7.jpg" alt="Product">
						</li>
					</ul>

					<ul class="product-slide__big">
						<li class="product-slide__big-item">
							<img src="images/content/products/7.jpg" alt="Product">
						</li>

						<li class="product-slide__big-item">
							<img src="images/content/products/7.jpg" alt="Product">
						</li>

						<li class="product-slide__big-item">
							<img src="images/content/products/7.jpg" alt="Product">
						</li>

						<li class="product-slide__big-item">
							<img src="images/content/products/7.jpg" alt="Product">
						</li>
					</ul>
				</div>

				<div class="product-one__content">
					<h2 class="product-one__title">Emboossed Packet Backpack</h2>
					<div class="product-one__box">
						<div class="product-one__price">
							<span class="product-one__price-new">$19.00</span>
							<span class="product-one__price-old">(29.00)</span>
						</div>

						<div class="product-one__star">
							<span class="star" data-rateyo-rating="5"></span>
							<span class="product-one__star-num">(22)</span>
						</div>
					</div>

					<div class="product-one__descr">
						<span class="product-one__descr-title">Review:</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipscg elit, sed do eiusmod tempor incididunt ut laborea et
							dolore magna alqua. Quis ipsum suspendssem moa ultrices gravida.</p>
					</div>

					<form class="product-one__form product-filter" action="#">
						<div class="product-filter__color">
							<span class="product-filter__title">Color:</span>
							<label class="product-filter__color-label">
								<input class="product-filter__color-input" type="radio" name="color" checked>
								<span class="product-filter__color-checkbox">
									<span style="background-color: #00aeef;"></span>
								</span>
							</label>

							<label class="product-filter__color-label">
								<input class="product-filter__color-input" type="radio" name="color">
								<span class="product-filter__color-checkbox">
									<span style="background-color: #f52574;"></span>
								</span>
							</label>

							<label class="product-filter__color-label">
								<input class="product-filter__color-input" type="radio" name="color">
								<span class="product-filter__color-checkbox">
									<span style="background-color: #24d4ac;"></span>
								</span>
							</label>

							<label class="product-filter__color-label">
								<input class="product-filter__color-input" type="radio" name="color">
								<span class="product-filter__color-checkbox">
									<span style="background-color: #ff7e00;"></span>
								</span>
							</label>

							<label class="product-filter__color-label">
								<input class="product-filter__color-input" type="radio" name="color">
								<span class="product-filter__color-checkbox">
									<span style="background-color: #000;"></span>
								</span>
							</label>

							<label class="product-filter__color-label">
								<input class="product-filter__color-input" type="radio" name="color">
								<span class="product-filter__color-checkbox">
									<span style="background-color: #923899;"></span>
							</label>
						</div>

						<div class="product-filter__size">
							<span class="product-filter__title">Size:</span>

							<label class="product-filter__size-label">
								<input class="product-filter__size-input" type="radio" name="size">
								<span class="product-filter__size-checkbox">S</span>
							</label>

							<label class="product-filter__size-label">
								<input class="product-filter__size-input" type="radio" name="size">
								<span class="product-filter__size-checkbox">M</span>
							</label>

							<label class="product-filter__size-label">
								<input class="product-filter__size-input" type="radio" name="size">
								<span class="product-filter__size-checkbox">L</span>
							</label>

							<label class="product-filter__size-label">
								<input class="product-filter__size-input" type="radio" name="size">
								<span class="product-filter__size-checkbox">XS</span>
							</label>

							<label class="product-filter__size-label">
								<input class="product-filter__size-input" type="radio" name="size">
								<span class="product-filter__size-checkbox">XL</span>
							</label>

							<label class="product-filter__size-label">
								<input class="product-filter__size-input" type="radio" name="size">
								<span class="product-filter__size-checkbox">XXL</span>
							</label>
						</div>

						<div class="product-one__info product-info">
							<ul class="product-info__list">
								<li class="product-info__item">
									<div class="product-info__title">SKU</div>
									<div class="product-info__text">11FSE7739</div>
								</li>

								<li class="product-info__item">
									<div class="product-info__title">Categories</div>
									<div class="product-info__text">Woman</div>
								</li>

								<li class="product-info__item">
									<div class="product-info__title">Tags</div>
									<div class="product-info__text">
										<a href="#">Fashion</a> |
										<a href="#">Woman</a> |
										<a href="#">Sale</a>
									</div>
								</li>

								<li class="product-info__item">
									<div class="product-info__title">Share</div>
									<div class="product-info__text">
										<ul class="social-list product-info__social-list">
											<li class="social-list__item">
												<a class="social-list__link" href="#">
													<svg>
														<use xlink:href="images/sprite.svg#icon-facebook"></use>
													</svg>
												</a>
											</li>

											<li class="social-list__item">
												<a class="social-list__link" href="#">
													<svg>
														<use xlink:href="images/sprite.svg#icon-twitter"></use>
													</svg>
												</a>
											</li>

											<li class="social-list__item">
												<a class="social-list__link" href="#">
													<svg>
														<use xlink:href="images/sprite.svg#icon-pinterest"></use>
													</svg>
												</a>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>

						<input class="product-one__num" type="number" value="1" min="1">
						<button class="product-one__btn btn" type="submit">Add to cart</button>
					</form>


				</div>
			</div>


			<div class="product-tabs">
				<div class="product-tabs__top">
					<a class="product-tabs__top-item" href="#tab-1">Description</a>
					<a class="product-tabs__top-item" href="#tab-2">Additional information</a>
					<a class="product-tabs__top-item product-tabs__top-item--active" href="#tab-3">Reviews</a>
				</div>

				<div class="product-tabs__content">
					<div class="product-tabs__content-item" id="tab-1">
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus vitae explicabo accusantium corrupti
							illo reprehenderit architecto hic officia velit modi!</p>
					</div>
					<div class="product-tabs__content-item" id="tab-2">
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex non quia quod. Laudantium autem provident
							voluptas eveniet aliquam repellat quis commodi? Ex minima eaque ab commodi beatae, illum, nostrum vero
							molestiae recusandae facilis accusamus deserunt.</p>
					</div>
					<div class="product-tabs__content-item product-tabs__content-item--active" id="tab-3">
						<div class="comment">
							<img class="comment__img" src="images/avatars/1.jpg" alt="Avatar">
							<div class="comment__content">
								<div class="comment__top">
									<div class="comment__name">Michle Jhon</div>
									<time class="comment__time">2 days ago</time>
									<span class="comment__star star" data-rateyo-rating="4"></span>
								</div>

								<p class="comment__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Qus ipsum speissei ultrices gravida. Risus commodo
									viverra
									maeenas accumsan lacus vel facilisis. </p>

								<a class="comment__reply" href="#">Reply</a>
							</div>
						</div>

						<div class="comment">
							<img class="comment__img" src="images/avatars/2.jpg" alt="Avatar">
							<div class="comment__content">
								<div class="comment__top">
									<div class="comment__name">Michle Jhon</div>
									<time class="comment__time">5 days ago</time>
									<span class="comment__star star" data-rateyo-rating="4"></span>
								</div>

								<p class="comment__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Qus ipsum speissei ultrices gravida. Risus commodo
									viverra
									maeenas accumsan lacus vel facilisis. </p>

								<a class="comment__reply" href="#">Reply</a>
							</div>
						</div>

						<div class="comment">
							<img class="comment__img" src="images/avatars/3.jpg" alt="Avatar">
							<div class="comment__content">
								<div class="comment__top">
									<div class="comment__name">Michle Jhon</div>
									<time class="comment__time">7 days ago</time>
									<span class="comment__star star" data-rateyo-rating="2"></span>
								</div>

								<p class="comment__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Qus ipsum speissei ultrices gravida. Risus commodo
									viverra
									maeenas accumsan lacus vel facilisis. </p>

								<a class="comment__reply" href="#">Reply</a>
							</div>
						</div>

						<form class="comment-form" action="#">
							<h3 class="comment-form__title">Add your review</h3>

							<div class="comment-form__rating">
								<span class="comment-form__rating-title">Your Rating</span>
								<label class="comment-form__label">
									<input class="comment-form__input" type="radio" name="star">
									<span class="comment-form__radio">
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
									</span>
								</label>

								<label class="comment-form__label">
									<input class="comment-form__input" type="radio" name="star">
									<span class="comment-form__radio">
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
									</span>
								</label>

								<label class="comment-form__label">
									<input class="comment-form__input" type="radio" name="star">
									<span class="comment-form__radio">
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
									</span>
								</label>

								<label class="comment-form__label">
									<input class="comment-form__input" type="radio" name="star">
									<span class="comment-form__radio">
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
									</span>
								</label>

								<label class="comment-form__label">
									<input class="comment-form__input" type="radio" name="star" checked>
									<span class="comment-form__radio">
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
										<svg>
											<use xlink:href="images/sprite.svg#icon-star"></use>
										</svg>
									</span>
								</label>
							</div>

							<div class="comment-form__box-input">
								<input class="comment-form__text-input" placeholder="Your name" type="text">
								<input class="comment-form__text-input" placeholder="E-mail address" type="email">
							</div>
							<textarea class="comment-form__textarea" placeholder="Your text here"></textarea>
							<button class="comment-form__btn btn" type="submit">Leave Review</button>
						</form>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>