<section class="related">
	<div class="container">
		<h3 class="related__title title">Related products</h3>
		<ul class="related__list">
			<li class="related__item">
				<article class="main-card main-card--sale">
					<div class="main-card__img-box">
						<img class="main-card__image" src="images/content/products/2.jpg" alt="product" width="370" height="370">
					</div>

					<div class="main-card__wrapper-box">
						<div class="main-card__box">
							<span class="star" data-rateyo-rating="5"></span>
							<h3 class="main-card__title">White Polo Men’s T-Shirt</h3>
							<div class="price">
								<span class="price__new">$34.00</span>
								<span class="price__old">$27.00</span>
							</div>
						</div>
					</div>
				</article>
			</li>

			<li class="related__item">
				<article class="main-card">
					<div class="main-card__img-box">
						<img class="main-card__image" src="images/content/products/3.jpg" alt="product" width="370" height="370">
					</div>

					<div class="main-card__wrapper-box">
						<div class="main-card__box">
							<span class="star" data-rateyo-rating="5"></span>
							<h3 class="main-card__title">White Polo Men’s T-Shirt</h3>
							<div class="price">
								<span class="price__new">$34.00</span>
								<span class="price__old">$27.00</span>
							</div>
						</div>
					</div>
				</article>
			</li>

			<li class="related__item">
				<article class="main-card">
					<div class="main-card__img-box">
						<img class="main-card__image" src="images/content/products/5.jpg" alt="product" width="370" height="370">
					</div>

					<div class="main-card__wrapper-box">
						<div class="main-card__box">
							<span class="star" data-rateyo-rating="5"></span>
							<h3 class="main-card__title">White Polo Men’s T-Shirt</h3>
							<div class="price">
								<span class="price__new">$34.00</span>
								<span class="price__old">$27.00</span>
							</div>
						</div>
					</div>
				</article>
			</li>

			<li class="related__item">
				<article class="main-card main-card--sale">
					<div class="main-card__img-box">
						<img class="main-card__image" src="images/content/products/6.jpg" alt="product" width="370" height="370">
					</div>

					<div class="main-card__wrapper-box">
						<div class="main-card__box">
							<span class="star" data-rateyo-rating="5"></span>
							<h3 class="main-card__title">White Polo Men’s T-Shirt</h3>
							<div class="price">
								<span class="price__new">$34.00</span>
								<span class="price__old">$27.00</span>
							</div>
						</div>
					</div>
				</article>
			</li>
		</ul>
	</div>
</section>