<section class="video-fashion">
  <div class="container">
    <div class="video-fashion__inner">
      <div class="video-fashion__popup" style="background-image: url('images/video-fashion.jpg')">
        <a class="video-fashion__play" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
          data-width="1200" data-height="640">
          <img class="video-fashion__img" src="images/icons/icon-play-btn.svg" alt="video play button" width="130"
            height="130">
        </a>
      </div>

      <div class="video-fashion__content">
        <span class="video-fashion__subtitle">Winter Collection 20% Off</span>
        <h3 class="title video-fashion__title">Trending fashion</h3>
        <div class="video-fashion__text">
          <p>Lorem ipsum dolor sit amet, consectetur apiscing elit, sed do eiusmod temp incididunt ut labore et dolore
            magna aliqua consectetur adipiscing elit, sedu do eiusmod temp indidunt ut labore et dolore magna aliqua..
            Quis ipsum de ultcesm. Risus commodo viverra maecenas.</p>
        </div>
        <a class="btn" href="#">View Now</a>
      </div>
    </div>
  </div>
</section>