//COLORS//
$white: #fff;

$dark: #29282d;

$grey-100: #f6f6f6;
$grey-200: #ececec;
$grey-225: #ccccce;
$grey-250: #cacaca;
$grey-300: #c0c0c0;
$grey-350: #bbbbbb;
$grey-400: #989898;
$grey-500: #5a5a5a;
$grey: #8d8d8d;

$purple: #5800e4;

$yellow: #ffb534;

$blue: #34c3ff;
$blue-800: #28384f;

$red: #fe3e57;

//COLORS FILTER//
$blue-filter: #00aeef;
$red-filter: #f52574;
$green-filter: #24d4ac;
$orange-filter: #ff7e00;
$black-filter: #000;
$purple-filter: #923899;

//ELEMENTS//
%badge {
	background-color: $red;
	padding: 6px 12px;
	color: $white;
	text-transform: uppercase;
	font-family: Roboto-Regular;
	font-weight: 400;
	line-height: 1;
}
