.blog {
	padding: 50px 0 165px;
	background-image: url(../images/backgrounds/blog-bg.svg);
	background-repeat: no-repeat;
	background-position: center center;

	@include mq("desktop-s", max) {
		padding: 20px 0 70px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		position: relative;

		@include mq("desktop-s", max) {
			display: grid;
			grid-gap: 30px;
			grid-template-columns: repeat(2, 1fr);
		}

		@include mq("tablet-s", max) {
			grid-gap: 20px;
			grid-template-columns: repeat(1, 1fr);
		}

		&:after {
			content: "";
			position: absolute;
			background-image: url(../images/decor/blog-decor.svg);
			top: -25px;
			right: -25px;
			width: 126px;
			height: 53px;
			z-index: -1;

			@include mq("desktop", max) {
				right: 0;
				top: -40px;
			}
		}
	}
}
