.blog {
	padding: 50px 0 165px;
	background-image: url(../images/backgrounds/blog-bg.svg);
	background-repeat: no-repeat;
	background-position: center center;

	&__list {
		display: flex;
		justify-content: space-between;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			background-image: url(../images/decor/blog-decor.svg);
			top: -25px;
			right: -25px;
			width: 126px;
			height: 53px;
			z-index: -1;
		}
	}
}
