.blog-article {
	max-width: 770px;

	@include mq("desktop-s", max) {
		max-width: 100%;
	}

	&__img {
		@include mq("desktop-s", max) {
			width: 100%;
			object-fit: cover;
		}

		@include mq("phone", max) {
			height: 200px;
		}
	}

	&__text {
		border: 1px solid $grey-200;
		border-top: none;
		padding: 30px;

		@include mq("tablet-s", max) {
			padding: 20px 10px;
		}

		h4 {
			color: $dark;
			font-size: 22px;
			font-family: Roboto-Medium;
			font-weight: 500;
			margin: 25px 0;
		}

		p {
			margin: 25px 0;
		}

		blockquote {
			background-color: $grey-100;
			border-left: 3px solid $red;
			color: $dark;
			font-family: Roboto-Regular;
			font-weight: 400;
			font-size: 22px;
			margin: 25px 0;
			padding: 35px;

			@include mq("phone", max) {
				font-size: 18px;
				padding: 15px;
			}
		}
	}

	&__info {
		display: flex;

		margin-bottom: 25px;

		@include mq("phone", max) {
			display: block;
		}
	}

	&__item:not(:last-child) {
		@include mq("phone", max) {
			margin-bottom: 10px;
		}
	}

	&__link {
		margin-right: 30px;
		display: flex;
		align-items: center;

		@include mq("phone", max) {
			width: fit-content;
		}

		svg {
			width: 16px;
			height: 16px;
			fill: $red;
			margin-right: 10px;
		}
	}

	&__img-left {
		object-fit: contain;
		float: left;
		margin: 0 30px 10px 0;

		@include mq("desktop-s", max) {
			width: 200px;
		}

		@include mq("phone", max) {
			float: none;
		}
	}

	&__img-right {
		object-fit: contain;
		float: right;
		margin: 0 0 10px 30px;

		@include mq("desktop-s", max) {
			width: 200px;
		}

		@include mq("phone", max) {
			float: none;
		}
	}

	&__form-title {
		text-transform: uppercase;
		margin: 35px 0 25px;
		color: $dark;
		font-size: 24px;
		font-family: Roboto-Bold;
		font-weight: 700;
	}

	&__box {
		margin: 25px 0 35px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}

	&__tags {
		margin-right: 10px;
	}

	&__tags,
	&__share {
		span {
			font-weight: 700;
			text-transform: uppercase;
			color: $dark;
		}
	}

	&__author {
		margin-bottom: 40px;
	}

	.comment-form__text-input {
		max-width: 370px;

		@include mq("phone", max) {
			max-width: 100%;
			width: 100%;
		}

		&:first-child {
			margin-right: 10px;

			@include mq("phone", max) {
				margin-bottom: 10px;
				margin-right: 0;
			}
		}
	}

	.comment-form__box-input {
		@include mq("phone", max) {
			display: block;
			margin-bottom: 10px;
		}
	}

	.comment-form__textarea {
		@include mq("phone", max) {
			margin-bottom: 20px;
		}
	}

	.comment {
		&__img {
			@include mq("phone", max) {
				display: none;
			}
		}
	}
}
