.categories-info {
  padding: 120px 0;
  background-color: $white;
  background-image: url("../images/decor/categories-decor-3.svg");
  background-repeat: no-repeat;
  background-position: center left;

  &__inner {
    background-image: url("../images/decor/categories-decor-4.svg");
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.support {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
  }

  &::before {
    background-image: url(../images/decor/categories-decor-1.svg);
    top: -40px;
    left: -45px;
    width: 120px;
    height: 121px;
  }

  &::after {
    background-image: url(../images/decor/categories-decor-2.svg);
    bottom: -20px;
    right: -20px;
    width: 65px;
    height: 52px;
  }

  &__item {
    background-color: $white;
    padding: 160px 30px 60px;
    box-shadow: 20px 0px 60px 0px rgba($grey-250, 0.35);
    width: 370px;
    position: relative;
    z-index: 2;

    &--icon-car::before {
      background-image: url(../images/icons/icon-car.svg);
    }

    &--icon-time::before {
      background-image: url(../images/icons/icon-time.svg);
    }

    &--icon-support::before {
      background-image: url(../images/icons/icon-support.svg);
    }

    &:before {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      top: 60px;
      left: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__title {
    font-size: 22px;
    line-height: 1.2;
    font-family: Roboto-Regular;
    font-weight: 400;
    color: $dark;
    margin-bottom: 15px;
  }
}

.categories {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    min-height: 635px;
  }

  &__item {
    &:nth-child(1) {
      grid-row: span 2;

      .category-product__subtitle,
      .category-product__link:hover {
        color: $purple;
      }

      .category-product__link:hover {
        border-bottom: 1px solid $purple;
      }
    }

    &:nth-child(2) {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;

      .category-product__subtitle,
      .category-product__link:hover {
        color: $red;
      }

      .category-product__link {
        width: fit-content;

        &:hover {
          border-bottom: 1px solid $red;
        }
      }
    }

    &:nth-child(3) {
      .category-product__subtitle,
      .category-product__link:hover {
        color: $yellow;
      }

      .category-product__link:hover {
        border-bottom: 1px solid $yellow;
      }
    }

    &:nth-child(4) {
      .category-product__subtitle,
      .category-product__link:hover {
        color: $blue;
      }

      .category-product__link:hover {
        border-bottom: 1px solid $blue;
      }
    }
  }
}

.category-product {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 35px 0 0 40px;

  &__title {
    font-size: 22px;
    color: $dark;
    margin-bottom: 16px;
  }

  &__link {
    text-transform: uppercase;
    color: $dark;
    transition: color 0.2s;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.1s;
    padding-bottom: 3px;
  }
}
