.contact {
	padding-bottom: 120px;

	@include mq("tablet", max) {
		padding-bottom: 80px;
	}

	@include mq("phone", max) {
		padding-bottom: 50px;
	}

	&__wrapper {
		display: flex;

		@include mq("desktop-s", max) {
			display: block;
		}
	}

	&__content {
		max-width: 370px;
		margin-right: 30px;

		@include mq("desktop-s", max) {
			max-width: 100%;
			margin-right: 0;
		}
	}

	&__title {
		font-family: Roboto-Bold;
		font-weight: 700;
		font-size: 48px;
		color: $dark;
		line-height: 1.2;
		margin-bottom: 20px;

		@include mq("tablet", max) {
			font-size: 34px;
		}

		@include mq("phone", max) {
			font-size: 24px;
			margin-bottom: 10px;
		}
	}

	&__text {
		margin-bottom: 60px;

		@include mq("desktop-s", max) {
			margin-bottom: 40px;
		}

		@include mq("phone", max) {
			margin-bottom: 20px;
		}
	}

	&__list {
		@include mq("desktop-s", max) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-bottom: 40px;
		}

		@include mq("phone", max) {
			margin-bottom: 0;
		}
	}

	&__item {
		color: $dark;
		margin-top: 55px;
		padding-left: 80px;
		position: relative;

		@include mq("desktop-s", max) {
			margin: 0 20px;
		}

		@include mq("tablet", max) {
			margin-bottom: 25px;
		}

		@include mq("phone", max) {
			margin-left: 0;
			padding-left: 70px;
			font-size: 15px;
		}

		&::before {
			content: "";
			position: absolute;
			width: 60px;
			height: 60px;
			top: -5px;
			left: 0;
			box-shadow: 0px 5px 20px 0px rgba(146, 146, 146, 0.3);
		}

		&::after {
			content: "";
			position: absolute;
			width: 20px;
			height: 20px;
			top: 15px;
			left: 20px;
			background-repeat: no-repeat;
			background-position: center center;
		}

		&--phone::after {
			background-image: url(../images/icons/icon-phone.svg);
		}

		&--adress::after {
			background-image: url(../images/icons/icon-location.svg);
		}

		&--email::after {
			background-image: url(../images/icons/icon-message.svg);
		}
	}

	&__tel,
	&__email {
		display: block;
	}
}
