.main-slider {
	background-image: url(../images/main-slider/decor.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: $grey-100;
	padding: 65px 0 45px;

	&__container {
		max-width: 1560px;
	}

	&__content {
		padding-left: 175px;
		padding-top: 125px;

		@include mq("desktop-s", max) {
			padding: 40px 0 0 15px;
		}

		@include mq("tablet-s", max) {
			padding: 0 0 50px 15px;
		}
	}

	&__item {
		display: flex !important;
		justify-content: space-between;

		.main-slider__img {
			@include mq("tablet-s", max) {
				display: none;
			}
		}
	}

	&__title {
		max-width: 670px;
		color: $dark;
		font-size: 58px;
		line-height: 1.1;
		font-family: Roboto-Bold;
		margin-bottom: 35px;
		@include line-clamp(4);

		@include mq("tablet", max) {
			font-size: 42px;
			margin-bottom: 15px;
		}

		@include mq("tablet-s", max) {
			font-size: 34px;
			margin-bottom: 10px;
		}
	}

	&__text {
		margin-bottom: 55px;
		max-width: 470px;
		@include line-clamp(4);

		@include mq("tablet", max) {
			margin-bottom: 30px;
		}
	}

	&__img {
		object-fit: contain;

		@include mq("desktop-s", max) {
			width: 40%;
		}
	}

	.slick-dots {
		display: flex;
		justify-content: center;
		margin-top: -70px;

		@include mq("tablet-s", max) {
			margin-top: 0;
		}

		li {
			margin: 0 5px;
			line-height: 0;

			button {
				padding: 0;
				font-size: 0;
				background-color: transporent;
				height: 26px;
				width: 26px;
				border: 1px solid transparent;
				border-radius: 50%;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background-color: $grey;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			&.slick-active {
				button {
					border-color: $red;

					&::before {
						background-color: $red;
					}
				}
			}
		}
	}
}
