.promo-top {
	&__container {
		max-width: 1700px;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		padding: 120px 0 130px;
		text-align: center;

		@include mq("desktop-s", max) {
			background-image: none !important;
			background-color: $grey-200;
		}

		@include mq("phone", max) {
			padding: 60px 0 70px;
		}
	}
}
